/*Дописати стилі*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.duration{
    display: flex;
    justify-content: center;
    align-items: center;
}

.month{
    padding-right: 16px;;
}